# Dependencies
node_modules/

# Environment
.env
.env.local
.env.production

# Uploads
uploads/resumes/*
uploads/logos/*
uploads/profiles/*
!uploads/resumes/.gitkeep
!uploads/logos/.gitkeep
!uploads/profiles/.gitkeep

# Build
dist/
build/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Misc
*.map
